@use '../../../styles/text';

:host {
  display: flex;
}

h1 {
  @extend %jgr-stroke;

  animation: bump 1s ease-in-out infinite;

  &.anim {
    animation: bump-start 1s ease-in-out infinite;
  }
}

@keyframes bump {
  $deg: .5deg;
  $scale: 1.05;

  0% {
    transform: scale(1) rotate(0);
  }

  25% {
    transform: scale($scale) rotate($deg);
  }

  50% {
    transform: scale(1) rotate(0);
  }

  75% {
    transform: scale($scale) rotate(-$deg);
  }

  100% {
    transform: scale(1) rotate(0);
  }
}

@keyframes bump-start {
  $deg: 2deg;
  $scale: 1.25;

  0% {
    transform: scale(1) rotate(0);
  }

  25% {
    transform: scale($scale) rotate($deg);
  }

  50% {
    transform: scale(1) rotate(0);
  }

  75% {
    transform: scale($scale) rotate(-$deg);
  }

  100% {
    transform: scale(1) rotate(0);
  }
}
