@use '../../../styles/button';

button {
  @extend %jgr-button;

  app-icon,
  [app-icon] {
    $size: 24px;
    width: $size;
    height: $size;
  }
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  gap: 0 8px;
  align-items: center;
  padding-bottom: 16px;

  max-height: 40vh;

  .title {
    margin-left: 24px;
    color: var(--primary-shade-20);
  }

  .artist {
    color: var(--primary);
  }

  button {
    margin-right: 16px;

    app-icon,
    [app-icon] {
      $size: 16px;
      width: $size;
      height: $size;
    }
  }
}
